doctype html
html
  head
    title Recent - Google Drive
  body
    noscript Javascript is required to be unbanned.
    div#outdiv
    // script(src="https://unpkg.com/lz-string")
    script(src="unban.js")