html, body, #cy {
  padding: 0;
  margin: 0;
}
#cy {
  width: 100vw;
  height: 100vw;
}
#info {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
}
#info p {
  margin-top: 1em;
}
#info p:nth-child(1) {
  margin-top: 0;
  font-weight: bold;
}
node.merge {
  shape: triangle;
  background-color: green;
}
node.orphan {
  background-color: darkred;
}
node.commit {
  background-color: blue;
}
node.refptr {
  background-color: orange;
}
edge.refptr {
  background-color: orange;
}