html, body {
    width: 100vw !important;
    height: 100vh !important;
    margin: 0;
}

body, input {
    background: black;
    border: 0;
    color: white;
    font-family: monospace;
}

body {
    display: grid;
    grid-template-rows: 1fr min-content;
    grid-template-columns: min-content 1fr;
    grid-template-areas:
        "Albert Albert"
        "Carol  Bob   ";
}

#Albert {
    grid-area: Albert;
}

#Bob {
    grid-area: Bob;
}

#Carol {
    grid-area: Carol;
    color: cyan;
}

#Bob:focus {
    outline: none;
}

#Bob:not(:focus) + #Carol {
    opacity: 0.75;
}
